/**
 * import components to builds angular-ui.css
 */
/* ui-reset */
.ui-resetwrap {
  position: relative;
  display: inline-block; }

.ui-reset {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  height: 100%;
  cursor: pointer; }

.ui-resetwrap:hover .ui-reset {
  display: block; }

/* ui-currency */
.ui-currency-pos {
  color: green; }

.ui-currency-neg {
  color: red; }

.ui-currency-zero {
  color: blue; }

.ui-currency-pos.ui-bignum,
.ui-currency-neg.ui-smallnum {
  font-size: 110%; }

/* highlight */
.ui-match {
  background: yellow; }

.showInfo {
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px; }

.show-buttons {
  margin-top: -30px;
  margin-right: -5px; }

.seat-rows {
  display: inline-block; }

.seat {
  background-color: gray;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  margin: 3px;
  padding: 10px; }

.seat-active {
  background-color: #7FFF00 !important; }

.reservation-seat {
  display: inline-flex; }

body {
  padding-top: 70px; }
