<div ng-show="reservationStep == 1">
    <h3>Chose Your Seat</h3>

    <div class="hallInfo">
        <button ng-click="bookSeats()" class="btn btn-info">
            Book Seats
        </button>
    </div>

    <div class="reservation-seat">
        <div class="hall-schema">
            <div class="seat-rows" ng-repeat="x in [] | range: hallWidth">
                <div ng-repeat="y in [] | range: hallHeight">
                    <div ng-class="{'seat-active': isSeatSelected(x,y)}" class="seat" ng-click="onSeatClick(x,y)">
                        {{y * hallWidth + x + 1}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="reservationStep == 2">
    <h3>Fill your information</h3>
    <button ng-click="backStep()" class="btn btn-success">back</button>

    <div class="form-group col-xs-4">

        <div class="form-row">
            <label>Name:</label>
            <input ng-model="reservation.name" placeholder="Name" class="form-control" type="text"/>
        </div>

        <div class="form-row">
            <label>Surname:</label>
            <input ng-model="reservation.surname" placeholder="Surname" class="form-control" type="text"/>
        </div>

        <div class="form-row">
            <label>Email:</label>
            <input ng-model="reservation.email" placeholder="Email" class="form-control" type="text"/>
        </div>

        <div class="form-row">
            <label>Phone:</label>
            <input ng-model="reservation.phoneNumber" placeholder="Phone" class="form-control" type="text"/>
        </div>

        <div class="form-row">
            <button ng-click="confirmBooking()" class="btn btn-success">Confirm Booking</button>
        </div>

    </div>

</div>

<div ng-show="reservationStep == 3">
    <h3>Confirm</h3>

</div>
