<div class="container">
    <h3>Halls</h3>

    <table class="table table-striped table-bordered table-condensed" ng-hide = "halls.length == 0">
        <thead >
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>Is Active</th>
            <th class="col-sm-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hall in halls">
            <td>{{hall.id}}</td>
            <td>{{hall.name}}</td>
            <td>{{hall.yLength}}</td>
            <td>{{hall.xLength}}</td>
            <td>{{hall.active}}</td>

            <td>
                <button ng-click="editHall(hall)" class="btn btn-warning">
                    <i class="icon-edit icon-white"></i> Edit
                </button>
                <button ng-click="deleteHall(hall)" class="btn btn-danger">
                    <i class="icon-trash icon-white"></i>
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="createHall()">Create Hall</button>
</div>

