<div class="modal-header">
    <h3 class="modal-title">Create New Showing</h3>
</div>
<div class="modal-body">
    <!-- ERRORS -->
    <div ng-show="validationErrors">
        <div ng-repeat="(field, error) in validationErrors">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>{{error}}
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="form-row">
            <label for="showingDates">Date:</label>
            <datepicker ng-model="showing.date" class="well"></datepicker>
        </div>

        <div class="form-row">
            <label for="movieTitle">Hour:</label>
            <input ng-model="showing.hour" id="movieTitle" class="form-control" type="text" placeholder="Hour"/>
        </div>

        <div class="form-row">
            <label for="showingHall">Hall:</label>
            <select ng-model="showing.hall" ng-options="hall.name for hall in halls" class="form-control" id="showingHall"></select>
        </div>

        <div class="form-row">
            <label for="showingMovie">Movie:</label>
            <select ng-model="showing.movie" ng-options="movie.title for movie in movies" class="form-control" id="showingMovie"></select>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="saveShow()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>